.App {
  text-align: center;
  max-width: 400px;
  height: 350px;
  background: lightcoral;
  margin: 0 auto;
  margin-top: 300px;
}

footer {
  margin-top: 50px;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 10px;
}